[Desktop Entry]
Type=Application
Categories=Qt;KDE;Graphics;VectorGraphics
Exec=washipad
Name=WashiPad
Name[ca]=WashiPad
Name[ca@valencia]=WashiPad
Name[cs]=WashiPad
Name[es]=WashiPad
Name[et]=WashiPad
Name[fi]=WashiPad
Name[fr]=WashiPad
Name[gl]=WashiPad
Name[hi]=वाशिपैड (WashiPad)
Name[it]=WashiPad
Name[ko]=WashiPad
Name[nl]=WashiPad
Name[nn]=WashiPad
Name[pt]=WashiPad
Name[pt_BR]=WashiPad
Name[sk]=WashiPad
Name[sl]=WashiPad
Name[sv]=Washipad
Name[uk]=WashiPad
Name[x-test]=xxWashiPadxx
Name[zh_TW]=WashiPad
Icon=washipad
GenericName=Minimalist Sketchnoting Application
GenericName[ca]=Aplicació d'esbós minimalista
GenericName[ca@valencia]=Aplicació d'esbós minimalista
GenericName[es]=Aplicación minimalista para crear bocetos
GenericName[et]=Minimalistlik visandamise rakendus
GenericName[fi]=Minimalistinen luonnostelusovellus
GenericName[fr]=Application de croquis-note minimaliste
GenericName[gl]=Aplicación minimalista para tomar notas
GenericName[hi]=न्यूनतमवादी रेखा टिप्पण अनुप्रयोग
GenericName[it]=Applicazione minimalista per prendere appunti
GenericName[ko]=최소한의 스케치 노트 프로그램
GenericName[nl]=Minimalistische toepassing voor schetsen maken
GenericName[nn]=Minimalistisk skisseprogram
GenericName[pt]=Aplicação Minimalista de Notas com Desenhos
GenericName[pt_BR]=Aplicativo de anotação minimalista
GenericName[sl]=Minimalistični program za skiciranje
GenericName[sv]=Minimalistiskt skissanteckningsprogram
GenericName[uk]=Мінімалістична програма для ведення нотаток
GenericName[x-test]=xxMinimalist Sketchnoting Applicationxx
