[Desktop Entry]
Type=Application
Categories=Qt;KDE;Graphics;VectorGraphics
Exec=washipad
Name=WashiPad
Name[ar]=واشي باد
Name[ca]=WashiPad
Name[ca@valencia]=WashiPad
Name[cs]=WashiPad
Name[de]=WashiPad
Name[el]=WashiPad
Name[en_GB]=WashiPad
Name[eo]=WashiPad
Name[es]=WashiPad
Name[et]=WashiPad
Name[eu]=WashiPad
Name[fi]=WashiPad
Name[fr]=WashiPad
Name[gl]=WashiPad
Name[he]=WashiPad
Name[hi]=वाशिपैड
Name[hu]=WashiPad
Name[it]=WashiPad
Name[ka]=WashiPad
Name[ko]=WashiPad
Name[nl]=WashiPad
Name[nn]=WashiPad
Name[pl]=WashiPad
Name[pt]=WashiPad
Name[pt_BR]=WashiPad
Name[ro]=WashiPad
Name[ru]=WashiPad
Name[sk]=WashiPad
Name[sl]=WashiPad
Name[sv]=Washipad
Name[tr]=WashiPad
Name[uk]=WashiPad
Name[x-test]=xxWashiPadxx
Name[zh_TW]=WashiPad
Icon=washipad
GenericName=Minimalist Sketchnoting Application
GenericName[ar]=تطبيق تدوين الملاحظات بسيط
GenericName[ca]=Aplicació d'esbós minimalista
GenericName[ca@valencia]=Aplicació d'esbós minimalista
GenericName[de]=Einfache Anwendung für Skizzen
GenericName[el]=Μινιμαλιστική εφαρμογή σημειώσεων με ιχνογραφήματα
GenericName[en_GB]=Minimalist Sketchnoting Application
GenericName[eo]=Minimumisma Skiznotada Aplikaĵo
GenericName[es]=Aplicación minimalista para crear bocetos
GenericName[et]=Minimalistlik visandamise rakendus
GenericName[eu]=Bozeto-oharretarako aplikazio minimalista
GenericName[fi]=Minimalistinen luonnostelusovellus
GenericName[fr]=Application de croquis-note minimaliste
GenericName[gl]=Aplicación minimalista para tomar notas
GenericName[he]=יישום שרבוט מצומצם
GenericName[hi]=न्यूनतमवादी रेखा टिप्पणी अनुप्रयोग
GenericName[hu]=Minimalista vázlatkészítő alkalmazás
GenericName[it]=Applicazione minimalista per prendere appunti
GenericName[ka]=სწრაფი ჩანაწერების მინიმალისტური აპლიკაცია
GenericName[ko]=최소한의 스케치 노트 앱
GenericName[nl]=Minimalistische toepassing voor schetsen maken
GenericName[nn]=Minimalistisk skisseprogram
GenericName[pl]=Minimalistyczna aplikacja do sketchnotingu
GenericName[pt]=Aplicação Minimalista de Notas com Desenhos
GenericName[pt_BR]=Aplicativo de anotação minimalista
GenericName[ro]=Aplicație minimalistă pentru schițarea notelor
GenericName[ru]=Минималистичное приложение для создания эскизов
GenericName[sl]=Minimalistični program za skiciranje
GenericName[sv]=Minimalistiskt skissanteckningsprogram
GenericName[tr]=Minimalist Eskiz Alma Uygulaması
GenericName[uk]=Мінімалістична програма для ведення нотаток
GenericName[x-test]=xxMinimalist Sketchnoting Applicationxx
GenericName[zh_TW]=精簡視覺筆記應用程式
